DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=sucesso_radio
DB_USERNAME=postgres
DB_PASSWORD=postgres
AUTO_INSTALL=true
BOOTSTRAP_ADMIN_USER=admin
BOOTSTRAP_ADMIN_PASSWORD=admin123
APP_TIMEZONE=America/Sao_Paulo
